<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <form action="/name" method="POST">
      <label for="participant-name">Participant:</label>
      <input id="participant-name" name="participant" type="text" placeholder="enter name">
      <input type="button" value="submit"> 
    </form>
  </body>
</html>